@charset "utf-8";

/* コラムタイトルの設定 */
.column_ttl_wrap,
.post_ttl_wrap {
    margin-bottom: 2rem;
}

@media screen and (min-width:768px) {

    .column_ttl_wrap,
    .post_ttl_wrap {
        display: flex;
        align-items: center;

    }

}

/* コラムタイトル日付 */
.column_date span,
.post_date span {
    display: block;
    font-size: 2.4rem;
    line-height: 2.4rem;
    margin-left: 1.6rem;
}

/* コラムタイトル */
.column_ttl,
.post_ttl {
    margin: 1.6rem 0 0 1.6rem;
    font-size: 2.4rem;
    line-height: 2.4rem;
    font-weight: 500;
}

@media screen and (min-width:768px) {

    .column_ttl,
    .post_ttl {
        padding-left: 5.6rem;
        font-size: 3.2rem;
        line-height: 4rem;
    }

}

/* タグの設定 */
.column_tag,
.post_tag {
    background-color: #FF7B00;
    width: auto;
    height: auto;
    padding: 0.2rem 2rem;
    border-radius: 32px;
    color: #fff;
    font-weight: 600;
    display: inline-block;
    margin: 1.6rem 0 0 1.6rem;
    font-size: 1rem;
}

@media screen and (min-width:1280px) {

    .column_tag,
    .post_tag {
        padding: 0.4rem 2rem;
        font-size: 1.4rem;
    }
}

/* コラム画像の設定 */
.column_img_wrap,
.post_img_wrap {
    margin: 2rem auto;
}

.column_img,
.post_img {
    border-radius: 40px;
}

@media screen and (min-width:768px) {

    .column_img_wrap,
    .post_img_wrap {
        width: 80%;
    }

}

/* コラム記事の設定 */
.column_item_wrap,
.post_text_wrap {
    background-color: #fff;
    margin: 2.4rem 0;
    padding: 3.2rem;
}

.column_item {
    margin-bottom: 2.4rem;
}

.column_item:nth-child(1) {
    margin-bottom: 4.8rem;
}

.column_item p {
    margin-top: 2.4rem;
}

.column_item_ttl {
    font-size: 2rem;
    font-weight: 500;
    border-left: 20px solid #FFCC00;
    line-height: 2.4rem;
    padding: 1.6rem 0 1.6rem 1.6rem;
}

@media screen and (min-width:768px) {
    .column_item_ttl {
        font-size: 2.4rem;
    }

}

.sub_title {
    display: block;
    background-color: #58BE15;
    padding: 1.2rem;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    text-align: center;
    color: #fff;
}

/* 記事送りボタン */
.flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.prv_btn,
.nxt_btn {
    display: inline-block;
    color: #fff;
    background-color: #FF7B00;
    border: 2px solid #FF7B00;
    padding: 1rem 2.4rem;
    border-radius: 50px;
    position: relative;
    /* あかり */
    font-size: 1.4rem;
    font-family: "ads-akari", sans-serif;
}

.prv_btn:hover,
.nxt_btn:hover {
    color: #FF7B00;
    background-color: #fff;
}

.prv_btn::before {
    content: "<";
    position: absolute;
    left: 1.5rem;
    transition: all 0.3s;
}

.prv_btn:hover::before {
    left: 1rem;
}

.nxt_btn::after {
    content: ">";
    position: absolute;
    right: 1.5rem;
    transition: all 0.3s;
}

.nxt_btn:hover::after {
    right: 1rem;
}

@media screen and (min-width:768px) {

    .prv_btn,
    .nxt_btn {
        padding: 1rem 4rem;
    }
}

/* 一覧へ飛ぶボタン */
.btn_wrap {
    width: 300px;
    padding: 2rem 6.4rem 2rem 3.2rem;
    background-color: #58BE15;
    border-radius: 50px;
    color: #fff;
    font-size: 2rem;
    /* あかり */
    font-family: "ads-akari", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
    transition: 0.3s;
    display: inline-block;
    margin: 2.4rem 1rem 4.8rem;
}

.btn_wrap:hover {
    transition: 0.3s;
    transform: translateY(4px);
}

.btn_wrap:after {
    content: ">";
    position: absolute;
    top: 20px;
    right: 48px;
    transition: 0.3s;
}

/* ボタンを中央に配置 */
.btn_wrap {
    display: block;
    margin: 4rem auto;
}

.btn_wrap:hover::after {
    right: 40px;
    transition: 0.3s;
}

/* 関連主催団体 */
.column_relationorg_card {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 4.8rem;
}

/* おすすめコラム記事 */
.column_recomend_list {
    margin: 4rem 0 4.8rem;
    padding: 0 4rem;
}

@media screen and (min-width:768px) {
    .column_recomend_list {
        padding: 0 8rem;
    }
}

.column_recomend_list span {
    font-size: 1.6rem;
}

.column_recomend_list a {
    margin-bottom: 2.4rem;
}

.column_recomend_list a:hover {
    opacity: 0.8;
}