@charset "utf-8";

section:nth-of-type(1),
section:nth-of-type(2) {
    border-bottom: 2px solid #FFCC00;
}

.column_ttl {
    border-left: 20px solid #FFCC00;
    padding: 1.6rem;
}

.column_tag {
    background-color: #FF7B00;
    width: auto;
    height: auto;
    padding: 0.2rem 2rem;
    border-radius: 32px;
    color: #fff;
    font-weight: 600;
    display: inline-block;
    margin: 0.8rem 0;
    font-size: 1rem;
}

.column_img {
    border-radius: 10rem;
}

.column_item {
    background-color: #fff;
    padding: 4rem;
}

.sub_title {
    display: block;
    background-color: #58BE15;
    padding: 1.2rem;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    text-align: center;
    color: #fff;
}

/* 記事送りボタン */
.flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* a {
    font-size: 1.6rem;
    font-weight: bold;
    text-decoration: none;
} */

.prv_btn,
.nxt_btn {
    display: inline-block;
    color: #fff;
    background-color: #FF7B00;
    border: 2px solid #FF7B00;
    padding: 1rem 4.8rem;
    border-radius: 50px;
    position: relative;
    /* あかり */
    font-size: 1.6rem;
    font-family: "ads-akari", sans-serif;
}

.prv_btn:hover,
.nxt_btn:hover {
    color: #FF7B00;
    background-color: #fff;
}

.prv_btn::before {
    content: "<";
    position: absolute;
    left: 1.5rem;
    transition: all 0.3s;
}

.prv_btn:hover::before {
    left: 1rem;
}

.nxt_btn::after {
    content: ">";
    position: absolute;
    right: 1.5rem;
    transition: all 0.3s;
}

.nxt_btn:hover::after {
    right: 1rem;
}

/* 一覧へ飛ぶボタン */
.btn_wrap {
    width: 300px;
    padding: 2rem 6.4rem 2rem 3.2rem;
    background-color: #58BE15;
    border-radius: 50px;
    color: #fff;
    font-size: 2rem;
    /* あかり */
    font-family: "ads-akari", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
    transition: 0.3s;
    display: inline-block;
    margin: 2.4rem 0;
}

.btn_wrap:hover {
    transition: 0.3s;
    transform: translateY(4px);
}

.btn_wrap:after {
    content: ">";
    position: absolute;
    top: 20px;
    right: 48px;
    transition: 0.3s;
}

.btn_wrap:hover::after {
    right: 40px;
    transition: 0.3s;
}