@charset "utf-8";
/*
:root {
    --main-color: #203C65;
    --main-secondary-color: #2366C7;
    --accent-color: #E8C351;
    --base-primary-color: #FFFFFF;
    --base-secondary-color: #F5F6FC;
    --text-color: #333333;
    --shadow-color: #D9D9D9;
    --main-color-75p: rgba(93, 126, 153, 0.75);
    --main-color-50p: #203c6580;
    --white: #FFFFFF;
    --black: #000000;
}
/* 標準的なフォント（本文などに使用） */
/* html {
    font-size: 62.5%; フォントサイズを10pxに揃える (本文サイズは1.6rem) */
    /* font-family: Roboto, Arial, "Noto Sans JP", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: var(--text-color);
} */
/* 全体の背景色 */
/* body {
    background-color: var(--base-primary-color);
} */
/* 画像が荒くならないように対策 */
/* img {
    max-width: 100%;
    height: auto;
} */



/* 全体共通設定 */
html {
    font-size: 62.5%;
    letter-spacing: 0.3rem;
    line-height: 2rem;
    color: #111111;
}

/* body {

} */

h2 {
    font-size: 4.0rem;
}

h3 {
    font-size: 3.2rem;
}

p {
    font-size: 1.6rem;
}

img {
    max-width: 100%;
    height: auto;
}

/* 余白設定 */
/* SP */
.inner {
    margin: 0 24px;
}

/* TB */
@media screen and (min-width:768px) and (max-width:1279px) {
    .inner {
        margin: 0 64px;
    }
}

/* PC */
@media screen and (min-width:1280px) {
    .inner {
        margin: 0 60px;
    }
}
