@charset "utf-8";

/* お問い合わせ例の装飾 */
.contact_samplewrap{
    border: 3px solid #58BE15;
    border-radius: 16px;
    margin-bottom: 4.8rem;
    padding: 1.6rem;
    background-color: #fff;
}

.contact_samplewrap div{
    font-size: 1.6rem;
    font-family: "Noto Sans JP", serif;
    line-height: 2.4rem;
}

/* フォームの装飾 */
.contact_font{
    font-weight: 900;
    margin: 2.4rem 0;
}

.contact_samplelist div::before{
    content: "・";
}

.contact_form_wrap{
    margin: 2.4rem 0;
}

.contact_form_wrap label{
    text-align: center;
    font-family: "Noto Sans JP", serif;
    font-size: 1.6rem;
}

.contact_form_wrap label span{
    color: #FF7B00;
}

.contact_item input ,
.contact_item select,
.contact_item textarea{
    margin: 0.8rem 0 1.6rem;
    border: 3px solid #58BE15;
    border-radius: 16px;
    font-family: "Noto Sans JP", serif;
    font-size: 1.6rem;
    padding: 0.8rem;
    width: 100%;
    background-color: #fff;
}

.contact_item input:focus ,
.contact_item select:focus,
.contact_item textarea:focus{
    border: 3px solid #FF7B00;
    outline: none;
}

.contact_form_wrap span{
    font-family: "Noto Sans JP", serif;
    font-size: 1.6rem;
}

.contact_item{
    margin-top: 3.2rem;
    padding-bottom: 1.6rem;
    border-bottom: 2px solid #FFCC00;
}

.contact_form_wrap a{
    display: inline;
}

.contact_input_flex{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction:column;
}


/* pcのフォーム大きさ変更 */
@media screen and (min-width:1280px){
    .contact_samplewrap,
    .contact_form_wrap{
        margin: 4.8rem 12rem 0;
    }


    .contact_item{
        display: flex;
        align-items: center;
        width: 100%;
    }

    .contact_item label{
        text-align: left;
        width: 30%;
        padding-left: 0.8rem;
        flex-shrink: 0;
    }

    .contact_item input ,
    .contact_item select,
    .contact_item textarea{
        width: 100%;
        max-width: 750rem;
        flex-grow: 1;
        box-sizing: border-box;
        margin-right: 2.4rem;
    }



    .contact_item textarea{
        height: 8rem;
    }

}

.contact_agreement{
    text-align: center;
    margin: 2.4rem 0;
}

.contact_agreement a{
    border-bottom: 2px dotted #FFCC00;
}

.contact_agreement a:hover{
    color: #FF7B00;
}

.contact_boxagree{
    margin: 2.4rem 0;
}


.contact_btn{
    margin-top: 4rem;
    margin-bottom: 6.4rem;
    display: flex;
    justify-content: space-between;
}

.contact_prv_btn,.contact_nxt_btn{
    display: inline-block;
    color: #fff;
    padding: 1rem 3.2rem;
    border-radius: 50px;
    position: relative;
    font-size: 1.6rem;
    font-family: "ads-akari", sans-serif;
}

.contact_prv_btn:hover,.contact_nxt_btn:hover{
    background-color: #fff;
}

.contact_prv_btn{
    background-color: #58BE15;
    border: 2px solid #58BE15;
}

.contact_nxt_btn{
    background-color: #FF7B00;
    border: 2px solid #FF7B00;
}

.contact_prv_btn:hover{
    color: #58BE15;
}

.contact_nxt_btn:hover{
    color: #FF7B00;
}

/* お問い合わせ完了 */
.contact_done {
    margin-bottom: 1rem;
}
