@charset "utf-8";

.error_wrap{
    line-height: 2.4rem;
    padding-top: 16rem;
}

.error_wrap a{
    display: inline;
    font-size: 2rem;
    border-bottom: 2px dashed #FFCC00;
}

.error_wrap a:hover{
    color: #FF7B00;
}

.error_wrap p:nth-child(1){
    padding-bottom: 0.8rem;
}



@media screen and (min-width:768px) {
    .footer_navflex{
        flex-direction: row;
        justify-content: space-around;
    }
    .footer_navitemwrap a{
        margin: 2.4rem 0;
    }
}
