@charset "utf-8";

.event_title_top {
    /* margin-top: 60px; */
    width: 100%;
    height: 200px;
    background-image: url("../img/event_img.png");
    background-size: cover;
    background-position: center;
    /* 画像の位置を中央に */
    position: relative;
    margin-top: 0;
}

.event_space_line {
    margin-top: 8rem;
}


/* TB */
@media screen and (min-width:768px) {
    .tb_none {
        display: none;
    }
}

/* ページタイトル */
.eventpage_top {
    /* margin-top: 60px; */
    width: 100%;
    height: 200px;
    background-image: url("../img/AdobeStock_570522660.png");
    background-size: cover;
    background-position: center;
    /* 画像の位置を中央に */
    position: relative;
    margin-top: 0;
}


/* イベントタイトル */
.event_top h2 {
    font-size: 3.2rem;
    line-height: 3.2rem;
    text-align: center;
    font-weight: 600;
    padding: 0 0 2rem 0;
}

/* 主催団体名 */
.event_top h3 {
    text-align: center;
    padding: 0 0 3rem 0;
}

/* 主催団体名ボタンをインライン要素にして、文字の範囲だけがクリックできるようにする */
.orgbtn a {
    display: inline;
}


/* いいね・ブックマーク */
.event_action {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 1rem;
    max-width: 450px;
    margin: 0 auto;
    gap: 3rem
}

@media screen and (min-width:1280px) {
    .event_action {
        max-width: 640px;
    }
}

/* いいね・ブックマークのそれぞれの枠 */
.event_action a {
    width: 80px;
    height: 40px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.event_good {
    background-image: url(../img/good.jpeg);
}

.event_bookmark {
    /* background-image: url(../img/bookmark.jpeg); */
    font-size: 4.8rem;
}


/* === slickの設定 === */
.slick_prev_kv,
.slick_next_kv,
.slick_prev_org,
.slick_next_org {
    /* 矢印のサイズ */
    width: 40px !important;
    height: 40px !important;
    z-index: 1 !important;
    position: absolute !important;
    top: 45% !important;
}

/* 左矢印を移動 */
.slick_prev_kv,
.slick_prev_org {
    left: 1rem !important;
}

/* 右矢印を移動 */
.slick_next_kv,
.slick_next_org {
    right: 1rem !important;
}

/* キービジュアル */
.event_kv_wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* スリックの設定 */
.slider_kv,
.slider_kv li {
    max-width: 450px;
    max-height: 338px;
}

@media screen and (min-width:1280px) {

    .slider_kv,
    .slider_kv li {
        max-width: 640px;
        max-height: 480px;
    }
}

.slider_kv img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
}

.slider_org {
    display: flex;
    justify-content: space-around;
    max-width: 240px;
    margin: 0 auto;
}

@media screen and (min-width:768px) {
    .slider_org {
        max-width: 560px;
    }
}

@media screen and (min-width:1280px) {
    .slider_org {
        max-width: 840px;
    }
}

.slider_org li {
    box-sizing: border-box;
    margin: 2rem;
}

/* === slickの設定終わり === */

/* イベントのタグ */
.eve_taglist {
    max-width: 450px;
    height: auto;
    margin: 0 auto;
    padding-top: 1rem;
}

.eve_tag {
    background-color: #58BE15;
    width: auto;
    height: auto;
    padding: 0.4rem 1.6rem;
    border-radius: 32px;
    color: #fff;
    font-weight: 600;
    display: inline-block;
    margin: 0.8rem 0.4rem 0 0;
    font-size: 1.2rem;
}

@media screen and (min-width:1280px) {
    .eve_taglist {
        max-width: 640px;
    }
}

/* イベント説明 */
.event_description {
    padding: 0 0 3rem 0;
    max-width: 450px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.event_description_text {
    max-width: 100%;
    /* 必要に応じて最大幅を指定 */
    height: auto;
    word-wrap: break-word;
    /* 単語が長すぎる場合に折り返す */
    white-space: normal;
    /* 自動改行を有効にする */
    font-size: 1.6rem;
    line-height: 3rem;
    color: #333;
    background-color: transparent;
    /* 背景を透過 */
}

.event_description_text ul {
    padding-left: 1rem;
    list-style: none;
    /* デフォルトの記号を消す */
    counter-reset: list-counter;
    /* カウンターをリセット */
}

.event_description_text ul li {
    counter-increment: list-counter;
    /* カウンターを増加 */
}

.event_description_text ul li::before {
    content: counter(list-counter) ". ";
    /* 数字を表示 */
    color: #FF7B00;
    font-weight: bold;
}

@media screen and (min-width:1280px) {
    .event_description {
        padding-top: 4rem;
        max-width: 640px;
        height: auto;
        display: block;
        margin: 0 auto;
    }

}

/* イベント基本情報 */
.event_table {
    max-width: 450px;
    border: 3px solid #58BE15;
    background-color: #fff;
    margin: 4rem auto 0;
    border-collapse: separate;
    overflow: hidden;
    border-spacing: 0;
    border-radius: 20px;
}

.event_table tr {
    display: block;
    margin: 0 3.0rem;
    padding: 2rem 0;
    border-bottom: 1px solid #58BE15;
    font-size: 1.3rem;
}

/* 最後の行の tr の border を消す */
.event_table tr:last-child {
    border-bottom: none;
}

.event_table th {
    width: 110px;
    align-items: center;
}

.event_table td {
    vertical-align: middle;
    padding-left: 2rem;
}


@media screen and (min-width:1280px) {
    .event_table {
        max-width: 640px;
    }
}

/* イベント基本情報のアイコン */
.event_table img {
    width: 20px;
    height: 20px;
    margin-right: 1rem;
}


/* SNSアイコン */
.org_snsicons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1.6rem 0;
    align-items: center;
}

.org_snsicons img {
    width: 48px;
    height: auto;
    margin: 0.8rem 2rem;
}

.org_snsicons a {
    transition: 0.3s;
}

.org_snsicons a:hover {
    transition: 0.3s;
    transform: scale(0.8);
}


/* アイコン群の枠 */
.event_icon_wrap {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2.4rem;
    padding-bottom: 6rem;
    max-width: 450px;
    margin: 0 auto;
    gap: 3rem 1rem;
}

@media screen and (min-width:1280px) {
    .event_icon_wrap {
        max-width: 640px;
    }
}

.event_icon_item {
    width: calc(33.33% - 1rem);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event_icon_item::before {
    content: "";
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}


/* アイコン画像を設定 */
.takeout::before {
    background-image: url(../img/takeout.jpeg);
}

.free::before {
    background-image: url(../img/free.png);
}

.parking::before {
    background-image: url(../img/parking.jpeg);
}

.wheelchair::before {
    background-image: url(../img/wheelchair.png);
}

.family::before {
    background-image: url(../img/family.png);
}

.alone::before {
    background-image: url(../img/alone.png);
}

.event_icon_item span {
    margin-top: 0.5rem;
    font-size: 1rem;
    background-color: #FF7B00;
    color: #fff;
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
}

/* 特記事項を赤文字にする */
.remarks_red {
    color: red;
}

/* イベントチラシ */
.event_pdf {
    width: 100%;
    display: flex;
    gap: 2.0rem;
    justify-content: center;
    align-items: center;
    padding-bottom: 2.4rem;
}

.event_pdf span {
    font-size: 1.4rem;
}

/* ダウンロードボタン */
.event_pdf a {
    width: 150px;
    height: 40px;
    color: #fff;
    text-align: center;
    justify-content: center;
    background-color: #b048fb;
    border-radius: 30px;
    font-size: 1.8rem;
    padding: 10px;
}

/* ダウンロードボタンアクション */
.event_pdf a {
    position: relative;
    transition: 0.3s;
    display: flex;
}

.event_pdf a:hover {
    transition: 0.3s;
    transform: scale(0.95);
}


/* Google Map */
.map {
    max-width: 450px;
    height: 250px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 6rem;
}

.map iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

@media screen and (min-width:768px) {
    .map {
        max-width: 640px;
        height: 420px;
    }
}

/* 参加者様からの感想 */
.event_review {
    max-width: 450px;
    background-color: #fff;
    padding: 2rem 1.5rem;
    margin: 0 auto 2.4rem;
}

@media screen and (min-width:1280px) {
    .event_review {
        max-width: 640px;
    }
}


.event_review_name {
    display: inline-block;
    width: fit-content;
    height: 100%;
    text-align: left;
    background-color: #dbdbdb;
    border-radius: 30px;
    padding: 0.3rem 1rem;
}

.event_review_comment {
    margin-top: 1rem;
}

.event_column_recomend_list a span {
    border-bottom: 2px dashed #FFCC00;
    margin: 0.8rem 0;
    font-weight: 600;
}

/* ボタンの囲い */
.event_entry_wrap {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

/* footer */
footer {
    margin-top: 8rem;
}


/* クチコミ投稿フォーム */
.event_review_form {
    max-width: 450px;
    margin: 0 auto;
    padding-bottom: 1rem;
}

@media screen and (min-width:1280px) {
    .event_review_form {
        max-width: 640px;
    }
}

.event_review_item {
    background-color: #fff;
}

.event_review_form span {
    width: 100%;
    display: block;
    font-size: 1.6rem;
}

.event_review_form input {
    margin-bottom: 1rem;
}

.event_review_form input, textarea {
    border: 1px solid #111111;
    border-radius: 5px;
    width: 100%;
}

.event_review_form a {
    /* display: inline; */
    width: fit-content;
    margin-left: auto;
    text-decoration: underline;
}

/* クチコミ送信ボタン */
.event_review_btn {
    color: #fff;
    padding: 1rem 3.2rem;
    border-radius: 50px;
    position: relative;
    font-size: 1.6rem;
    font-family: "ads-akari", sans-serif;
    background-color: #FF7B00;
    border: 2px solid #FF7B00;
    display: block;
    margin: 2rem auto 8rem;
}

.event_review_btn:hover {
    background-color: #fff;
    color: #FF7B00;
}


/* 一覧へ飛ぶボタン */
.event_btn_wrap {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.event_btn {
    width: 260px;
    padding: 2rem 6.4rem 2rem 3.2rem;
    background-color: #FF7800;
    border-radius: 50px;
    color: #fff;
    font-size: 2rem;
    /* あかり */
    font-family: "ads-akari", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
    transition: 0.3s;
    display: flex;
}

.event_btn:hover {
    transition: 0.3s;
    transform: translateY(4px);
}

.event_btn:after {
    content: ">";
    position: absolute;
    right: 48px;
    transition: 0.3s;
}

.event_btn:hover::after {
    right: 40px;
    transition: 0.3s;
}

/* イベント申し込みボタン */
.event_entry_btn {
    width: 260px;
    padding: 2rem 3.2rem;
    background-color: #F4CF15;
    border-radius: 50px;
    color: #111111;
    font-size: 2rem;
    /* あかり */
    font-family: "ads-akari", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
    transition: 0.3s;
    display: flex;
}

.event_entry_btn:hover {
    transition: 0.3s;
    transform: scale(0.95);
}


.event_entry_wrap p {
    font-size: 1.2rem;
}

/* 関連コラム記事 */
.event_column_list {
    margin: 4rem 0 4.8rem;
    padding: 0 4rem;
}

.event_column_list a span {
    border-bottom: 2px dashed #FFCC00;
    /* margin: 0.8rem 0; */
    font-weight: 600;
}

@media screen and (min-width:768px) {
    .event_column_list {
        padding: 0 8rem;
    }
}

.event_column_list span {
    font-size: 1.6rem;
}

.event_column_list a {
    margin-bottom: 2.4rem;
}

.event_column_list a:hover {
    opacity: 0.8;
}
