@charset "utf-8";


.tax_list ul {
    list-style: none;
    padding: 0 1rem 4.8rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* スマホ用は２カラム */
    gap: 1rem;
    place-items: center;
    /* アイテムをグリッド内で中央配置 */
    margin: 0 auto;
    /* コンテナ自体を中央寄せ */
}

.tax_list li {
    width: 100%;
    font-size: 2rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-width: 10rem; */
    max-width: 15rem;
    /* ボタンの最大幅 */
    padding: 0.5rem 1rem;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    color: #fff;
    background-color: #56C909;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;

    font-size: 1rem;
    font-weight: bold;
    border: 1px solid #F4CF15;
    border-radius: 3rem;
}

.tax_list li:before {
    font-family: FontAwesome;
    content: "★";
    position: absolute;
    left: 0.5rem;
    font-size: 1.2em;
    transition: transform 0.8s ease-in-out;
    /* 回転のアニメーション */
}

.tax_list li:hover,
.tex_list li:active,
.tex_list li:focus {
    background-color: #FF7B00;
    /* ホバー時に背景色をオレンジに変更 */
    /* :active はクリックしている間、:focus はクリック後も適用 */
}

.tax_list li:hover:before {
    transform: rotate(360deg);
    /* アイコンが360度回転 */
    /*   color: #f4cf15; */
}


.tax_list li {
    padding-left: 3.5rem;
    /* アイコンとテキストの間に余白を作る */
}

/* h3にclassを付与したら適応 */
/* .sub_title {
    display: block;
    background-color: #58BE15;
    padding: 1.2rem;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    text-align: center;
    color: #fff;
} */

.exp_result {
    margin-top: 2rem;
    /* 検索結果の上に余白 */
}

.exp_result h3 {
    margin-bottom: 1rem;
    /* h3 の下に余白を追加 */
}

.exp_result span {
    font-size: 1.6rem;
    /* 文字サイズを大きく */
    line-height: 1.6;
    /* 行間を広げる */
    display: block;
    /* ブロック要素にして改行 */
}

/* 共通カードの配置(commonn.cssで適用したので不要) */
/* .list_up_result {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr; */
/*１カラム*/
/* gap: 1rem; */
/*各アイテムに均等に余白*/
/* } */



/* .list_up_result li {
    width: max-content;
    /* または適切な幅 */
/*margin: 0 auto;
} */


/* TB */
@media screen and (min-width:768px) and (max-width:1279px) {

    .tax_list ul {
        grid-template-columns: repeat(3, 1fr);
    }

    .tax_list li {
        max-width: 20rem;
        font-size: 1.5rem;
    }

    .tax_list li:before {
        left: 1rem;
        font-size: 1.2em;
    }

    /* 共通カード */
    /* .list_up_result {
        grid-template-columns: repeat(2, 1fr);
        /*2カラム
    } */
}


/* PC */
@media screen and (min-width:1280px) {
    .tax_list ul {
        grid-template-columns: repeat(4, 1fr);
    }

    .tax_list li {
        max-width: 30rem;
        font-size: 1.5rem;
    }

    .tax_list li:before {
        left: 2rem;
        font-size: 1.2em;
    }

    /* 共通カード */
    /* .list_up_result {
        grid-template-columns: repeat(3, 1fr);
        /*3カラム
    } */
}
