@charset "utf-8";

html {
    background-image: url();
}

.page_title {
    width: 100%;
    text-align: center;
    background-image: url();

}


.breadcrumb {
    display: flex;

}

/* TB */
@media screen and (min-width:768px) and (max-width:1279px) {}


/* PC */
@media screen and (min-width:1280px) {
    .breadcrumb {
        width: calc(100% - 320px);
        display: flex;

    }


}
