@charset "utf-8";

footer {
    width: 100%;
    height: auto;
    background: linear-gradient(to bottom,
            #6d4c41 0rem,
            #6d4c41 1rem,
            #a27d71 2rem,
            #a27d71 3rem,
            #7f4d3e 4rem,
            #7f4d3e 5rem,
            #8d6e63 6rem,
            #8d6e63 7rem,
            #a1887f 8rem,
            #a1887f 9rem,
            #55433c 10rem,
            #55433c 11rem,
            #bcaaa4 12rem,
            #bcaaa4 13rem,
            #907c87 14rem,
            #907c87 15rem);

    text-align: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

footer ul {
    display: flex;
    flex-direction: column;
    /* 縦並びに配置 */
    align-items: center;
    /* 中央揃え */
    gap: 1.5rem;
    /* 均等な間隔を開ける */
    list-style: none;
    padding: 0;
    margin: 0 0 1rem;
    /* 下に余白をつけて small との間隔を調整 */
}

footer li {
    color: white;
    font-size: 1.4rem;

}

footer small {
    color: white;
    font-size: 1rem;
}


/* imgを均等に横並びにする場合  imgを<div>で囲ってclassを付与*/
/* .f-img {
    display: flex;
    justify-content: space-around; /* 画像を主軸方向に均等にに配置 */
/* width: 100%;  フッター全体に広げる */
/* padding: 0 2rem;  左右の余白 （もしかしたらいらないかも）*/
/*}*/

/*.f-img img {
     width: 3rem;
     height: auto;
 } */


/* TB */
@media screen and (min-width:768px) and (max-width:1279px) {
    /* TB版で写真のサイズを変更 */
    /*.f-img img {
     width: 4rem;
     height: auto;
 } */
}


@media screen and (min-width:1280px) {
    footer {
        width: calc(100% - 320px);
        height: auto;

        display: flex;
        flex-direction: column;
        align-items: center;
        /* 中央揃え */
        justify-content: center;
        /* 縦方向の中央揃え */
    }

    footer ul {
        display: flex;
        gap: 2rem;
        flex-direction: row;
        justify-content: center;
        /* 中央配置 */
        gap: 3rem;
        /* 均等な間隔を開ける */
    }

    /* PC版で写真のサイズを変更 */
    /*.f-img img {
     width: 5rem;
     height: auto;
 } */
}
