@charset "utf-8";

/* 後で共通パーツに変換 */
.form_heading {
    background-color: #58BE15;
    padding: 1.2rem;
    margin-bottom: 1.5rem;
}

/* フォーム全体の設定 */
.form_accordion {
    background-color: #f7f7f7;
    padding: 1.2rem;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 1rem;
}

/* アコーディオンタイトルの設定 */
.form_item_title {
    border-bottom: 1px solid #b6b6b6;
    font-size: 1.4rem;
    font-weight: 500;
}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
}

/* フリーワード */
.form_box_wrap {
    font-size: 1.4rem;
    background-color: #fff;
    border: solid 1px #111;
    border-radius: 5px;
}

input[type="search"] {
    width: 100%;
    padding: 16px;
}
