@charset "utf-8";

.search_title {
    text-align: center;
    font-weight: 600;
    border-bottom: 2px dashed #58BE15;
}

/* フォーム全体の設定 */
.search_accordion {
    background-color: #f7f7f7;
    padding: 1.2rem;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 1rem;
}

/* アコーディオンタイトルの設定 */
.search_item_title {
    position: relative;
    border-bottom: 1px solid #b6b6b6;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 1.2rem 0;
}

.search_item_title::after {
    position: absolute;
    content: "+";
    right: 16px;
    transition: transform 0.3s ease;
    font-size: 2.4rem;
    text-align: center;
}

.search_accordion[open] .search_item_title::after{
    position: absolute;
    content: "-";
    transform: rotate(180deg);
    font-size: 2.4rem;
    text-align: center;
}

/* デフォルトの三角形アイコンを消す */
summary {
	display: block;
}

/* WebKitブラウザのデフォルトの三角形アイコンを消す */
summary::-webkit-details-marker {
	display: none;
}


/* input[type="checkbox"] {
    width: 16px;
    height: 16px;
    margin-right: 0.5rem;
} */

input[type="checkbox"] {
    appearance: none;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    margin-right: 0.5rem;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: #FF7B00;
    border-color: #FF7B00;
}

input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    left: 4px;
    top: 1px;
    width: 6px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

label {
    font-size: 1.6rem;
}

/* フリーワード */
/* .search_box_wrap {
    font-size: 1.4rem;
    background-color: #fff;
    border: solid 1px #111;
    border-radius: 5px;
}

.search_box_content {
    width: 100%;
    padding: 16px;
} */

.search_btn{
    margin-top: 4rem;
    margin-bottom: 6.4rem;
    display: flex;
    justify-content: space-around;
}

.search_prv_btn,.search_nxt_btn{
    display: inline-block;
    color: #fff;
    padding: 1rem 3.2rem;
    border-radius: 50px;
    position: relative;
    font-size: 1.6rem;
    font-family: "ads-akari", sans-serif;
}

.search_prv_btn:hover,.search_nxt_btn:hover{
    background-color: #fff;
}

.search_prv_btn{
    background-color: #58BE15;
    border: 2px solid #58BE15;
}

.search_nxt_btn{
    background-color: #FF7B00;
    border: 2px solid #FF7B00;
}

.search_prv_btn:hover{
    color: #58BE15;
}

.search_nxt_btn:hover{
    color: #FF7B00;
}

/* フリーワード */
.search_box_wrap {
    position: relative;
    background-color: #fff;
    border: solid 1px #ccc;
    border-radius: 10px;
    font-size: 1.4rem;
    padding: 0 6rem 0 0;
}

.search_box_inner {
    width: 100%;
    display: flex;
}

/* .search_box_inner {
    content: '\f002';
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    position: absolute;
    right: 1rem;
    cursor: pointer;
} */

.search_box_content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 1.6rem;
}

.search_word_btn::after {
    content: '\f002';
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    position: absolute;
    /* right: 3rem; */
    padding: 2.4rem;
    cursor: pointer;
}

/* 検索ボタンを非表示にする */
button[type="submit"] {
    border: none;
    background: none;
    cursor: pointer;
    width: 0;
    height: 0;
    padding: 0;
    margin-left: -10px;
}
