@charset "utf-8";

header {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #818181;
    align-items: center;
    position: fixed;
    z-index: 1;
}

header .inner {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ロゴ  ーーーーーーーーサイズあとで確認する */
h1 {
    width: 80px;
    height: 100%;
}

.hamburger {
    width: 40px;
}

/* ハンバーガーメニュー */
.hamburger span {
    display: block;
	background-color: #fff;
	height: 4px;
	width: 40spx;
}

.hamburger span+span {
    margin-top: 8px;
}

/* ナビゲーション */
.sp-none {
    display: none;
}

/* PC */
@media screen and (min-width:1280px) {
    .sp-none {
        display: block;
    }
    .pc-none {
        display: none;
    }

    h1 {
    width: 300px;
    }


    header {
        width: 320px;
        height: calc(100vh);
        position: fixed;
        top: 0; /* 上端に配置 */
        right: 0; /* 右端に配置 */
        display: inline;
    }

    header li {
        margin-top: 16px;
        display: flex;
        justify-content: center;
    }

    header a {
        display: flex;
        align-items: center;  /* 上下中央 */
        justify-content: center; /* 左右中央 */
        width: 300px;
        height: 60px;
        border-radius: 32px;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
        background-color: #fff;
        font-size: 3.2rem;
        /* あかり */
        font-family: "ads-akari", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
}
