@charset "utf-8";

header {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #818181;
    align-items: center;
    position: fixed;
    z-index: 1;
}

header .inner {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ロゴ  ーーーーーーーーーーーーーーーーサイズあとで確認する */
h1 {
    width: 80px;
    height: 100%;
}

.hamburger {
    width: 40px;
    height: 40px;
    z-index: 9999;
    /* position: relative; */
}

/* ハンバーガー */
.hamburger span {
    display: block;
    position: absolute;
	background-color: #fff;
	height: 4px;
	width: 40px;
    transition: all 0.5s;
}





.menu {
    position: fixed;
	top: 0;
	right: 0;
	z-index: 1;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #818181;
    /* display: none; */
}

/* ハンバーガーメニュー */
/* アニメーション前 */
.menu {
	transform: translateX(100vw);
	transition: all 0.5s ease-in-out;
}

/* アニメーション後 */
.menu.is-active {
    transform: translateX(0);
}



.menu li {
    font-size: 2.4rem;
	width: 100%;
	height: auto;
	padding: 1em 1em;
	text-align: center;
	box-sizing: border-box;
}

/* ドロワーメニューの装飾 */
.menu_item {
    display: flex;
    align-items: center;  /* 上下中央 */
    justify-content: center; /* 左右中央 */
    width: 300px;
    height: 60px;
    border-radius: 32px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    background-color: #fff;
    font-size: 3.2rem;
    /* あかり */
    font-family: "ads-akari", sans-serif;
    font-weight: 400;
    font-style: normal;
}


/* ハンバーガーライン位置決定 */
.hamburger span:nth-of-type(1) {
    top:16px;
}

.hamburger span:nth-of-type(2) {
    top:28px;
}

.hamburger span:nth-of-type(3) {
    top:40px;
}

/*----------------------------
* ハンバーガーメニューのパーツのアニメーション
*----------------------------*/

.hamburger.is-active span:nth-of-type(1) {
	transform: translateY(12px) rotate(-315deg);
}

.hamburger.is-active span:nth-of-type(2) {
	opacity: 0;
}

.hamburger.is-active span:nth-of-type(3) {
	transform: translateY(-12px) rotate(315deg);
}

/* ナビゲーション */
.sp_none {
    display: none;
}

/* PC */
@media screen and (min-width:1280px) {
    .sp_none {
        display: block;
    }
    .pc_none {
        display: none;
    }

    /* ーーーーーーーーーーーーーー 見かけはいけているが設定変更必要 */
    h1 {
    width: 300px;
    height: 225px;
    margin: 2.4rem auto;
    }

    header {
        width: 320px;
        height: calc(100vh);
        position: fixed;
        top: 0; /* 上端に配置 */
        right: 0; /* 右端に配置 */
        display: inline;
    }

    header .inner {
        display: inline-block;
        margin: 0 auto;
    }

    header li {
        margin-top: 16px;
        display: flex;
        justify-content: center;
    }

    header li a {
        display: flex;
        align-items: center;  /* 上下中央 */
        justify-content: center; /* 左右中央 */
        width: 300px;
        height: 60px;
        border-radius: 32px;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
        background-color: #fff;
        font-size: 3.2rem;
        /* あかり */
        font-family: "ads-akari", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
}
