@charset "UTF-8";

/* 主催団体名 */
.org_name{
    font-size: 3.2rem;
    line-height: 3.2rem;
    text-align: center;
    font-weight: 600;
    padding: 4rem 0;
}

/* 主催団体説明 */
.org_description{
    margin: 0.8rem 0 8rem 0;
}

/* === slick設定 === */
/* キービジュアル */
.top_kv_wrap {
    /* position: relative; */
    display: flex;
    justify-content: center;
}

/* スリックの設定 */
.slider_kv,
.slider_kv li {
    width: 240px;
    height:180px;
}

.slider_kv img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5rem;
    /* display: none; */
}

.slider_org {
    display: flex;
    justify-content: space-around;
    max-width: 240px;
    margin: 0 auto;
}

@media screen and (min-width:768px) {
    .slider_org {
        max-width: 560px;
    }
}

@media screen and (min-width:1280px) {
    .slider_org {
        max-width: 840px;
    }
}

.slider_org li {
    box-sizing: border-box;
    margin: 2rem;
}

/* 基本情報 */
/* .org_table{
    background-color: #fff;
    margin: 0 auto;
    border: 3px solid #58BE15;
    border-radius: 2.4rem;
    border-collapse: separate;
}

.org_table th{
text-align: center;
}
.org_table th,
.org_table td{
    padding: 1.6rem;
    border-bottom: solid 1px #a4c88b;
} */

.org_table {
    border: 3px solid #58BE15;
    background-color: #FFF;
    margin: 0 auto;
    border-collapse: separate;
    overflow: hidden;
    border-spacing: 0;
    border-radius: 2.4rem;
}
.org_table th,
.org_table td {
    padding: 1.6rem;
}
.org_table th {
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #c5deb5;
}

.org_table td {
    vertical-align: middle;
    border-bottom: 1px solid #c5deb5;
}
