@charset "utf-8";

.post_content_wrap {
    margin-bottom: 4rem;
}

/* コラムタイトルの設定 */
.post_ttl_wrap {
    display: flex;
    align-items: center;
}

.post_date span {
    display: block;
    font-size: 2.4rem;
    line-height: 2.4rem;
    margin-left: 1.6rem;
}

.post_ttl {
    padding-left: 5.6rem;
    font-size: 3.2rem;
    line-height: 4rem;
}

.post_tag {
    background-color: #FF7B00;
    width: auto;
    height: auto;
    padding: 0.2rem 2rem;
    border-radius: 32px;
    color: #fff;
    font-weight: 600;
    display: inline-block;
    margin: 2rem 0 2rem 1.6rem;
    font-size: 1rem;
}

.post_img {
    border-radius: 32px;
}

/* コラム記事の設定 */
.post_text_wrap {
    background-color: #fff;
    margin: 2.4rem 0;
    padding: 3.2rem;
}

/* 記事送りボタン */
.flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.prv_btn,
.nxt_btn {
    display: inline-block;
    color: #fff;
    background-color: #FF7B00;
    border: 2px solid #FF7B00;
    padding: 1rem 2.4rem;
    border-radius: 50px;
    position: relative;
    /* あかり */
    font-size: 1.4rem;
    font-family: "ads-akari", sans-serif;
}

.prv_btn:hover,
.nxt_btn:hover {
    color: #FF7B00;
    background-color: #fff;
}

.prv_btn::before {
    content: "<";
    position: absolute;
    left: 1.5rem;
    transition: all 0.3s;
}

.prv_btn:hover::before {
    left: 1rem;
}

.nxt_btn::after {
    content: ">";
    position: absolute;
    right: 1.5rem;
    transition: all 0.3s;
}

.nxt_btn:hover::after {
    right: 1rem;
}

@media screen and (min-width:768px) {

    .prv_btn,
    .nxt_btn {
        padding: 1rem 4rem;
    }
}

/* 一覧へ飛ぶボタン */
.btn_wrap {
    width: 300px;
    padding: 2rem 6.4rem 2rem 3.2rem;
    background-color: #58BE15;
    border-radius: 50px;
    color: #fff;
    font-size: 2rem;
    /* あかり */
    font-family: "ads-akari", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
    transition: 0.3s;
    display: inline-block;
    margin: 2.4rem 1rem 4.8rem;
}

.btn_wrap:hover {
    transition: 0.3s;
    transform: translateY(4px);
}

.btn_wrap:after {
    content: ">";
    position: absolute;
    top: 20px;
    right: 48px;
    transition: 0.3s;
}

.btn_wrap:hover::after {
    right: 40px;
    transition: 0.3s;
}

/* ボタンを中央に配置 */
.post_btn {
    display: block;
    margin: 4rem auto;
}