@charset "utf-8";

main {
    padding-top: 60px;
     /* header の高さ分だけ下げる */
}

h2 , h3 {
    text-align: center;
}

h3 {
    color: #fff;
    background-color: #58BE15;
}

.page_top {
    /* margin-top: 60px; */
    width: 100%;
    height: 300px;
    background-image: url("../img/AdobeStock_204053911.jpeg");
    background-size: cover;
    background-position: center; /* 画像の位置を中央に */
    position: relative;
    margin-top: 0;
}

.page_title {
    text-align: center;
    top:60%;
    left: 50%;
    transform: translate(-50% , -50%);
    position: absolute;
    color: #fff;
}

.breadcrumb {
    display: flex;
}

/* PC */
@media screen and (min-width:1280px) {
    main {
    padding-top: 0px;
    }
}
