@charset 'utf-8';

/*----------------------------------------
	kv
----------------------------------------*/

.kv {
	width: 100%;
	position: relative;
	overflow: hidden;
}

.kv img {
	width: 100%;
	height: 700px;
	object-fit: cover;
}

.heading-L1 {
	position: absolute;
	top: 50%;
	right: 5vw;
}

.heading-L1 p {
	font-family: Roboto, Arial, "Noto Serif JP", serif;
	font-size: clamp(2.4rem, 1.954rem + 1.83vw, 3.6rem);
	font-weight: 600;
	padding: 4px 8px;
	margin-top: 20px;
	color: var(--main-color);
	background-color: #f5f6fcb3;
}

.kv-bg-right {
	position: absolute;
	top: -50px;
	right: -100px;
	background-image: url("../img/visuals/tr.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: clamp(12.5rem, 5.536rem + 28.57vw, 31.25rem);
	aspect-ratio: 1;
	opacity: 0.4;
}

.kv-bg-left {
	position: absolute;
	bottom: -50px;
	left: -50px;
	background-image: url("../img/visuals/br.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: clamp(12.5rem, 5.536rem + 28.57vw, 31.25rem);
	aspect-ratio: 1;
	opacity: 0.4;
}

@media (width>992px) {
	.kv img {
		width: 100%;
		height: 600px;
	}
	.kv-bg-right {
		top: -50px;
		right: -100px;
		width: 400px;
	}

	.kv-bg-left {
		bottom: -50px;
		left: -50px;
		width: 350px;
	}
}

/*----------------------------------------
	ページタイトル
----------------------------------------*/

.sec_heading-area {
	width: fit-content;
	color: var(--main-color);
	font-weight: 500;
	letter-spacing: 0.1em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 64px;
}

.heading-L2 {
	font-size: 2.4rem;
	padding-bottom: 8px;
	position: relative;
}

.heading-L2::after {
	display: block;
	content: "";
	width: 40px;
	height: 2px;
	border-radius: 2px;
	background-color: currentColor;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.subheading {
	font-family: "Roboto Slab", cursive;
	padding-top: 4px;
}

/*----------------------------------------
	news
----------------------------------------*/

.news {
	width: 100%;
	position: relative;
}

.news-bg {
	width: clamp(21.875rem, 11.429rem + 42.86vw, 50rem);
	position: absolute;
	top: 40%;
	left: 50%;
	translate: -50% 0%;
	z-index: -1;
	background-image: url("../img/visuals/line.png");
	background-repeat: no-repeat;
	background-size: contain;
	aspect-ratio: 2/1;
	opacity: 0.2;
}

.news_list {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.news_list > div {
	display: flex;
	align-items: center;
	gap: 24px;
}

.news_list.news_detail > h3 {
	font-size: 2.4rem;
	font-weight: 600;
}

.news_list + .news_list {
	margin-top: 24px;
	padding-top: 24px;
	border-top: 2px solid var(--main-color-75p);
}

@media (width>992px) {
	.news_list {
		flex-direction: row;
		gap: 24px;
	}

	.news_list.news_detail {
		flex-direction: column;
		gap: 24px;
	}

	.news_list > div {
		width: 300px;
	}
}

/*----------------------------------------
	service
----------------------------------------*/
.service {
	position: relative;
}

.service_group {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
}

.service_card {
	max-width: 490px;
	height: auto;
	border-bottom: 4px solid var(--main-color);
	box-shadow: 4px 4px 4px var(--shadow-color);
}

.service_card > img {
	aspect-ratio: 6 / 5;
	object-fit: cover;
}

.service_title {
	padding-top: 16px;
	padding-bottom: 16px;
	text-align: center;
	background-color: var(--base-secondary-color);
}

.service-bg {
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	z-index: -1;
	background-image: url("../img/visuals/c.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: clamp(12.5rem, -1.429rem + 57.14vw, 50rem);
	aspect-ratio: 1;
	opacity: 0.2;
}

@media (width>1140px) {
	.service_group {
		flex-direction: row;
		justify-content: space-between;
	}
}

/*----------------------------------------
	about
----------------------------------------*/
.about {
	position: relative;
}

.about_area {
	font-size: 1.6rem;
	line-height: 2;
}

/* リセットCSSの後に、記事エリアの見出しやリストのデフォルトスタイルを定義 */
.about_area h1,
.about_area h2,
.about_area h3,
.about_area h4,
.about_area h5,
.about_area h6 {
	font-size: 2rem;
	font-weight: 500;
	color: var(--main-color);
	margin-bottom: 1em;
}

.about_area p,
.about_area ul,
.about_area ol {
	margin-bottom: 2em;
}

.about_area ul {
	list-style: disc; /* デフォルトのリストマーカーを戻す */
	padding-left: 1.5em;
}

.about_area ol {
	list-style: decimal;
	padding-left: 1.5em;
}

.about_area li {
	margin-bottom: 0.5em;
}

.about_area table {
	margin-left: 1.5em;
	border: 1px solid var(--main-color);
}

.about_area th,
.about_area td {
	padding: 8px 16px;
	border: 1px solid var(--main-color);
	border-collapse: collapse;
}

.about_area th {
	background-color: var(--base-secondary-color);
}

.about_area .about_area:last-child {
	margin-bottom: 0;
}

/* aboutの背景画像 */
.about-bg {
	position: absolute;
	top: 50%;
	left: 0;
	translate: -10% -50%;
	z-index: -1;
	background-image: url("../img/visuals/hl.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: clamp(12.5rem, 5.536rem + 28.57vw, 31.25rem);
	aspect-ratio: 1;
	opacity: 0.2;
}
/*----------------------------------------
	image-upload
----------------------------------------*/

.image-upload {
	color: var(--white);
}

.image-upload_area {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	margin-left: auto;
	margin-right: auto;
}

.image-upload_area > div {
	max-width: 490px;
	background-color: var(--main-color);
}

.image-upload_body {
	padding: 40px;
	flex-shrink: 0;
}

.image-upload_body > div {
	width: 100%;
	border-left: 4px solid var(--accent-color);
	padding-left: 20px;
}

.image-upload_img {
	max-width: 490px;
	aspect-ratio: 3/2;
	object-fit: cover;
}

.image-upload_title {
	font-size: 2rem;
	margin-bottom: 32px;
}

.image-upload_text {
	line-height: 2;
}

@media (width>1140px) {
	.image-upload_area {
		flex-direction: row;
		justify-content: center;
	}

	.image-upload_body {
		width: 490px;
	}
}
